{% extends "myadmin/../myadmin/base.html" %}

{% block main_body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <blockquote class="layui-elem-quote layui-text">
            账号管理
        <span class="layui-breadcrumb" lay-separator=">" >
          <a href="{% url 'myadmin_index' %}">首页</a>
          <a href="" class="active">密码重置</a>
        </span>
        </blockquote>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
                <h2 class="box-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true">密码重置</span></h2>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal layui-form">
                {% csrf_token %}
            <input type="hidden" name="id" value="{{ user.id }}">
              <div class="box-body">

                <div class="layui-form-item">
                  <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                      <i class="layui-icon layui-icon-username"></i>
                    </div>
                      <input readonly type="text" name="username" value="{{user.username}}" lay-verify="required" placeholder="账号" autocomplete="off" class="layui-input" lay-affix="eye">
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                      <i class="layui-icon layui-icon-username"></i>
                    </div>
                      <input readonly type="text" name="nickname" value="{{ user.nickname }}" lay-verify="required" placeholder="昵称" autocomplete="off" class="layui-input" >
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                      <i class="layui-icon layui-icon-password"></i>
                    </div>
                      <input type="password" name="password" value="" lay-verify="required" placeholder="输入新密码" autocomplete="off" class="layui-input" id="password" lay-affix="eye">
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-input-wrap">
                    <div class="layui-input-prefix">
                      <i class="layui-icon layui-icon-password"></i>
                    </div>
                      <input type="password" name="confirmPassword" value="" lay-verify="required|confirmPass" placeholder="确认密码" autocomplete="off" id="reg_password" class="layui-input" lay-affix="eye">
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="layui-btn btn-primary" lay-submit lay-filter="demo-submit">提交</button> &nbsp;
                  <button type="reset" class="layui-btn btn-default">重置</button>
                <div class="col-sm-offset-2 col-sm-10">
              </div>
                </div>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
      </div>
    </section>
    <!-- /.content -->
<script src="//unpkg.com/layui@2.8.15/dist/layui.js"></script>
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script>
    // 在模板中将 CSRF 令牌传递给 JavaScript
    const csrfToken = '{{ csrf_token }}';
</script>
<script>
    layui.use(['jquery', 'form', 'layer'],function () {
        let $ = layui.$;
        let form = layui.form;
        let layer = layui.layer;
        // 添加 CSRF 令牌到请求头
        $.ajaxSetup({
            headers: {
                'X-CSRFToken': csrfToken
            }
        })

        // 提交事件
        form.on('submit(demo-submit)', function (data) {
            let field = data.field; // 获取表单字段值
            let new_password = field.password;
            let username = field.username;
            let confirmPassword = field.confirmPassword;
            {#let username = $('input[name="username"]').val();#}
            {#let confirmPassword = $('input[name="confirmPassword"]').val();#}
            console.log(new_password);
            if (new_password === '') {
                layer.alert('请输入新密码！');
                return false;
            }
            if (confirmPassword === '') {
                layer.alert('请确认密码！');
                return false;
            }
            console.log(new_password);
            // 检查密码是否一致
            if (new_password !== confirmPassword){
              layer.alert('两次密码不一致！');
              return false; // 阻止表单提交
            }
            console.log(new_password);
            $.ajax({
                url:'{% url 'myadmin_user_reset_password' %}',
                type:'POST',
                data:{
                    'username':username,
                    'new_password':new_password,
                    {#'confirmPassword':confirmPassword,#}
                },
                success: function(response) {
                    // 处理后端返回的数据
                    layer.alert(response.info)
                },
                error: function(error) {
                  // 处理请求错误
                  console.log(error);
                }
            })
            return false;// 阻止默认 form 跳转
        });
    });
</script>
{% endblock %}