{% extends "eye_on_server/web/ServerChart.html" %}
{% load static %}
{% block DayChart %}
    <div class="layui-card-header ">
            <a>磁盘当前使用率</a>
            <div class="layui-form " style="float: right;width: auto;position: relative;">
                <input type="radio" value="all-day" name="data-show" title="全部" lay-filter="demo-radio-filter" checked>
                <input type="radio" value="yesterday" name="data-show" title="昨天" lay-filter="demo-radio-filter" >
                <input type="radio" value="today" name="data-show" title="今天" lay-filter="demo-radio-filter" >
            </div>
            <div class="layui-progress layui-progress-big" lay-showpercent="true" style="width: auto;position: relative; ">
                <div class="layui-progress-bar" lay-percent="{{disk_percent}}%" style="width: 100% ;position: absolute;"></div>
            </div>
        </div>
          <br>
        <div class="layui-card-body" >
            <div class="layui-row " >
                <div class="layui-container" id="layui-col-md4" style="width: 400px;height: 400px" >
                    {{ data_line |safe }}<br>
                </div>
            </div>
        </div>
<script src="{% static 'eye_on_server/js/layui.js' %}"></script>
<script>
    let progressBarList = document.querySelectorAll('.layui-progress-bar');
    progressBarList.forEach(function (progressBar){
        let diskPercent = parseInt(progressBar.getAttribute('lay-percent'), 10);
        if (diskPercent > 80){
            progressBar.classList.add('layui-bg-red');
        }else if(diskPercent>60){
            progressBar.classList.add('layui-bg-orange');
        }else{
            progressBar.classList.add('layui-bg-primary');
        }
    });

    layui.use(['form', 'jquery'],function(){
      var form = layui.form;
      var layer = layui.layer;
      var $ = layui.$;
      // radio 事件
      form.on('radio(demo-radio-filter)', function(data){
        var elem = data.elem; // 获得 radio 原始 DOM 对象
        var checked = elem.checked; // 获得 radio 选中状态
        var value = elem.value; // 获得 radio 值
        var othis = data.othis; // 获得 radio 元素被替换后的 jQuery 对象
        var now = new Date();
        var year = now.getFullYear();
        var month = now.getMonth()+1;
        if(month<10)
          month = "0" + month;
        var day = now.getDate();//当前日期
        var time;
        if(day<10)
          day = "0" + day;
        if(value==="yesterday"){
          time=year+"-"+month+"-"+day-1;
         }
        if (value === "today") {
          time = year + "-" + month + "-" + day;
         }
          // 根据条件判断是否禁用单选按钮
        if (isNaN(time)) {
          $('input[value="yesterday"]').not(elem).prop('disabled', true);
          form.render('radio');
        } else {
          $('input[value="yesterday"]').prop('disabled', false);
          form.render('radio');
        }
        {#layer.msg(['value: '+ value, 'checked: '+ checked].join('<br>'));#}
        $.ajax({
            url:'{% url 'DayChart' %}',
            type:'GET',
            data:{'date':time, 'value':value, },
            success:function (data){
                if(data.message)
                    layer.msg(data.message)
                {#window.location.href=this.url#}
            },
            error:function (xhr, status, error){
                console.error("Error:", error);
            }
         })
      });
    })
</script>
{% endblock %}