{% extends 'eye_on_server/web/base.html' %}
{% load static %}
{% block breadcrumb %}
    <li>
      <span class="layui-breadcrumb" lay-separator=">">
          <a href="{% url 'ServerChart' %}">首页</a>
          <a href="{% url 'ServerChart' %}">资源图</a>
      </span>
    </li>
{% endblock %}
{% block search %}
    <li class="layui-nav-item layui-show-xs-inline-block " lay-header-event="menuLeft"></li>
    <li class="layui-nav-item layui-hide-xs" style="display: inline-block;padding-right: 10px">
         <div class="layui-input-group">
            <label>
                <input type="text" placeholder="搜索......" class="layui-input" lay-options="{split:true}" id="searchInput">
            </label>
            <div class=" layui-input-suffix" style="cursor: pointer;"><!--class="layui-input-split"-->
                <i class="layui-icon layui-icon-search search" style="font-size: 15px;" lay-affix="search" id="searchIcon" lay-event="search"></i>
            </div>
         </div>
    </li>
    <script src="{% static "/eye_on_server/js/layui.js" %}"></script>
    <script>
    //JS
    layui.use(['element', 'layer', 'util', 'form','jquery'], function() {
        let layer = layui.layer;
        let $ = layui.$;

        //回车后搜素
        $(".layui-input").keydown(function (e) {
            if (e.which === 13) {
                e.preventDefault();
                performSearch();
            }
        });
        //点击搜索键搜索
        document.getElementById('searchIcon').addEventListener('click', function () {
            performSearch();
        });

        function performSearch() {
            let searchInput = document.getElementById('searchInput');
            let searchValue = searchInput.value;

            if (searchValue.trim() === '') {
                layui.layer.msg('请输入搜索内容');
                return;
            }

            console.log(searchValue);

            $.ajax({
                url: '{% url 'search' %}',
                type: 'GET',
                data: {"keywords": searchValue},
                success: function (response) {
                    if(response.message){
                        layer.msg(response.message);
                    }else {
                        window.location.href = this.url;
                    }
                },
                error: function () {
                    layer.msg('搜索请求失败');
                }
            });
        }
    })
    </script>
{% endblock %}
{% block selecttime %}
  <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
    <div class="ws-header-tool ws-bg-light layui-form">
      <div class="layui-form-item">
          <input type="radio" name="select-time" value="last_hour" title="最近一小时" lay-filter="demo-radio-filter" >
          <input type="radio" name="select-time" value="last_day" title="最近一天" lay-filter="demo-radio-filter" >
          <input type="radio" name="select-time" value="last_week" title="最近一周" lay-filter="demo-radio-filter" >
      </div>
    </div>
  </li>
    <script src="{% static 'eye_on_server/js/layui.js' %}"></script>
    <script>
    layui.use(['form', 'jquery'],function(){
      let form = layui.form;
      let layer = layui.layer;
      let $ = layui.$;
      // radio 事件
      form.on('radio(demo-radio-filter)', function(data){
        let elem = data.elem; // 获得 radio 原始 DOM 对象
        let value = elem.value; // 获得 radio 值
        $.ajax({
            url:'{% url 'DayChart' %}',
            type:'GET',
            data:{'value':value},
            success:function (data){
                if(data.message){
                    layer.msg(data.message)
                }else {
                    window.location.href = this.url;
                }
            },
            error:function (xhr, status, error){
                console.error("Error:", error);
            }
        })
      });
    })
    </script>
{% endblock %}
{% block ServerChart %}
<div class="layui-bg-grey" >
  <div class="layui-row layui-col-space15" >
    {% for data_line in data_lines %}
    <div class="layui-col-md6" style="padding: 40px;height: auto">
      <div class="layui-card">
        <div class="layui-card-header ">
            <a>磁盘当前使用率</a>
            <div class="layui-progress layui-progress-big" lay-showpercent="true" style="width: auto;position: relative; ">
                <div class="layui-progress-bar" lay-percent="{{disk_percent.pop}}%" style="width: 100% ;position: absolute;"></div>
            </div>
        </div>
          <br>
        <div class="layui-card-body" >
            <div class="layui-row " >
                {{ data_line |safe }}<br>
{#                <div class="layui-container" style="width: 400px;height: 400px" >#}
{#                    {{ data_line |safe }}<br>#}
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'eye_on_server/js/echarts/echarts.min.js' %}"></script>
<script src="{% static 'eye_on_server/js/layui.js' %}"></script>
<script>
    let progressBarList = document.querySelectorAll('.layui-progress-bar');
    progressBarList.forEach(function (progressBar){
        let diskPercent = parseInt(progressBar.getAttribute('lay-percent'), 10);
        if (diskPercent > 80){
            progressBar.classList.add('layui-bg-red');
        }else if(diskPercent>60){
            progressBar.classList.add('layui-bg-orange');
        }else{
            progressBar.classList.add('layui-bg-primary');
        }
     });
</script>
{% endblock %}
