{% extends 'eye_on_server/web/base.html' %}
{% load static %}
{% block breadcrumb %}
  <span class="layui-breadcrumb" lay-separator=">" style="font-size: 32px">
  <a href="{% url 'ServerChart' %}">首页</a>
  <a href="{% url 'ServerList' %}">主机信息概览</a>
  <a href="{% url 'system' %}">主机信息详细浏览</a>
</span>
{% endblock %}
{%  block System %}
<!-- 内容主体区域 -->
<div style="background-color: #e2e2e2 ;padding-top: 70px ">
  <div class="layui-card layui-panel" style="background-color: #eeeeee">
    <div class="layui-panel">
      <div style="padding: 32px;">
          <p>系统: {{ info.name }}</p><br>
          <p>许可: {{ info.license_name }}</p><br>
          <p>CPU核数: {{ info.count }}</p><br>
          <p>物理总内存: {{ info.total_physics }}</p><br>
          <p>系统运行时间: {{ info.uptime }}</p><br>
          <p>当前运行的进程数: {{ info.processes }}</p><br>
      </div>
    </div>
    <br>
    <div><a class="layui-btn layui-btn-xs">CPU时间信息</a>
    <table class="layui-table" lay-even>
      <colgroup>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
      </colgroup>
      <thead>
        <tr>
          <th>CPU空闲</th>
          <th>用户进程</th>
          <th>内核进程</th>
          <th>等待I/O完成</th>
          <th>处理硬件/软件中断</th>
          <th>虚拟机占用CPU</th>
            <th>CPU使用%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ info.idle}}</td>
          <td>{{ info.user}}</td>
          <td>{{ info.system}}</td>
          <td>{{ info.iowait}}</td>
          <td>{{ info.irq}}/{{ info.softirq}}</td>
          <td>{{ info.steal}}</td>
          <td><div class="layui-progress" lay-showpercent="true">
                <div class="layui-progress-bar" lay-percent="{{ info.percent}}%"></div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

    <br>
    <div><a class="layui-btn layui-btn-xs">物理内存信息</a>
    <table class="layui-table" lay-even>
      <colgroup>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
      </colgroup>
      <thead>
        <tr>
          <th>总内存</th>
          <th>已使用</th>
          <th>可用</th>
          <th>已使用%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ info.total_physics}}</td>
            <td>{{ info.used_physics}}</td>
            <td>{{ info.free_physics }}</td>
            <td><div class="layui-progress" lay-showpercent="true">
                <div class="layui-progress-bar" lay-percent="{{ info.memory_percent}}%"></div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
    </div>
    <br>

    <div><a class="layui-btn layui-btn-xs">交换区信息</a>
    <table class="layui-table" lay-even>
      <colgroup>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
        <col class='layui-table-col-set'>
      </colgroup>
      <thead>
        <tr>
          <th>交换空间总量</th>
          <th>已使用</th>
          <th>可用</th>
          <th>已使用%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{ info.total_swap}}</td>
            <td>{{ info.used_swap}}</td>
            <td>{{ info.free_swap}}</td>
            <td><div class="layui-progress" lay-showpercent="true">
                <div class="layui-progress-bar" lay-percent="{{ info.swap_percent}}%"></div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
    </div>
    <br>
    <div><a class="layui-btn layui-btn-xs">磁盘信息</a>
        <table class="layui-table" lay-even>
            <colgroup>
            <col class='layui-table-col-set'>
            <col class='layui-table-col-set'>
            <col class='layui-table-col-set'>
            <col class='layui-table-col-set'>
            <col class='layui-table-col-set'>
          </colgroup>
          <thead>
            <tr>
              <th>挂载点</th>
              <th>磁盘总空间</th>
                <th>已使用</th>
                <th>可用</th>
                <th>已使用%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ info.mount_point}}</td>
              <td>{{ info.total}}</td>
              <td>{{ info.used}}</td>
              <td>{{ info.free }}</td>
              <td><div class="layui-progress" lay-showpercent="true">
                    <div class="layui-progress-bar" lay-percent="{{ info.disk_percent}}%"></div>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <br><br>
  </div>
</div>
<div class="layui-footer"></div>

<script src="{% static 'eye_on_server/js/layui.js' %}"></script>
<script>
    let progressBarList = document.querySelectorAll('.layui-progress-bar');
    progressBarList.forEach(function (progressBar){
        let diskPercent = parseInt(progressBar.getAttribute('lay-percent'), 10);
        if (diskPercent > 80){
            progressBar.classList.add('layui-bg-red');
        }else if(diskPercent>60){
            progressBar.classList.add('layui-bg-orange');
        }else{
            progressBar.classList.add('layui-bg-primary');
        }
    });
</script>
{% endblock %}