{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>资源监控</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/layui.css' %}" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin" style="background-color: #9f9f9f">
  <div class="layui-header" >
    <div class="layui-logo layui-hide-xs layui-bg-black layui-col-md3">硬件资源监控</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block " lay-header-event="menuLeft"></li>
      <li class="layui-nav-item layui-hide-xs" style="display: inline-block;padding-right: 10px">
         <div class="layui-input-group">
            <label>
                <input type="text" placeholder="搜索......" class="layui-input" lay-options="{split:true}" id="searchInput">
            </label>
            <div class=" layui-input-suffix" style="cursor: pointer;background-color: #23292e"><!--class="layui-input-split"-->
                <i class="layui-icon layui-icon-search" style="font-size: 15px;color: #fafafa" lay-affix="search" id="searchIcon"></i>
            </div>
         </div>
      </li>
        <li class="layui-nav-item layui-hide-xs" style="display: inline-block;"><a href="/ServerChart">首页</a></li>
    </ul>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:">
          <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
          tester
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:">Your Profile</a></dd>
          <dd><a href="javascript:">Settings</a></dd>
          <dd><a href="javascript:">Sign out</a></dd>
        </dl>
      </li>
        <!--右侧菜单-->
        <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
            <a href="javascript:;">
{#                <i class="layui-icon layui-icon-more-vertical"></i>#}
                <button class="layui-btn" id="openMenu" >Menu</button>
            </a>
        </li>
        <div id="menu" class="layui-col-md3 layui-hide-xs"  style="display: none;">
            <div id="licenseData" data-license="{{ unique_license_json }}"></div>
            <h2>选择待展示的许可公司</h2>
            <ul class="layui-form" id="licensezlist"></ul>
        </div>
        <div id="chartsContainer" class="layui-col-md9"></div>
    </ul>
  </div>
  <div class="layui-side " style="background-color: #23292e">
    <div class="layui-side-scroll ">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">资源管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{% url 'ServerList' %}">主机管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:">click menu item</a></li>
        <li class="layui-nav-item"><a href="javascript:">the links</a></li>
      </ul>
    </div>
  </div>

  <div class="layui-body layui-fluid layui-col-md10" >
    <!-- 内容主体区域 -->
    <div style="background-color: #e2e2e2 ;padding-top: 70px ">
      <div class="layui-card layui-panel" style="background-color: #eeeeee">
        {% block Server_list %}{% endblock %}
        {% block ServerChart %}{% endblock %}
      </div>
      <br><br>
    </div>
  </div>
</div>
<div class="layui-footer" >
    <!-- 底部固定区域 -->
    底部固定区域
</div>

<script src="{% static "/js/layui.js" %}"></script>
<script src="{% static 'js/echarts/echarts.min.js' %}"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util', 'form'], function(){
      const element = layui.element;
      let layer = layui.layer;
      let util = layui.util;
      let $ = layui.$;
      const form = layui.form;
      const menu = document.getElementById('menu');
      const licenseList = document.getElementById('licenseList');
      //切换右菜单的展开和收起
      let licenseDataElement = document.getElementById('licenseData');

      let licenseCompanies = JSON.parse(licenseDataElement.getAttribute('data-license'));


        //添加按钮事件
        let openMenuBtn = document.getElementById('openMenu');
        openMenuBtn.addEventListener('click', function (){
            openMenu();
        })
        function openMenu(){
            let content ='<div id="licenseList" class="layui-form">' +
                {#'<h2>Select License Campanies</h2>' +#}
                `${generateLicenseOptions()}</div>`;
            layer.open({
                type:1,
                title:"Select Companies",
                offset: 'rt', // 右上角
                anim: 'slideLeft', // 从右侧抽屉滑出
                area: ['300px', '100%'],
                content:content,
                shadeClose: true,
            });
            //重新渲染layui的表单组件
            form.render();
        }
        function generateLicenseOptions(){
            let options='';
            //动态生成许可公司和按钮
            licenseCompanies.forEach(company =>{
                {#const encodedCompany = encodeURIComponent(company);#}
                {#console.log(encodedCompany);#}
                options+=`<div class="layui-form-item"><input type="checkbox" name="licenses" title="${company}"></div>`;
            });
            options+='<button class="layui-btn layui-btn-primary generate-btn">确定</button>'
            return options;
        }

        // 添加生成图表的按钮点击事件
        const generateBtns = document.querySelectorAll('.generate-btn');
        console.log(11);
        generateBtns.forEach(btn =>{
            btn.addEventListener('click',()=>{
                console.log('按钮被点击了');
                const selectedLicenses = Array.from(this.parentNode.querySelectorAll('input[name="licenses"]:checked')).map(checkbox=>checkbox.getAttribute('title'));
                generateFrames(selectedLicenses);
                console.log(12);
            })
        })
        console.log(13);
        function generateFrames(selectedLicenses) {
            selectedLicenses.forEach(function (license){
                console.log(14);
                $.ajax({
                    url:'{% url "select" %}',
                    type:'POST',
                    data:{selectedLicenses:license},
                    success:function (data){
                        window.location.href=this.url
                    },
                    error:function (xhr, status, error){
                    console.error("Error:", error);
                }
                })
            })
            console.log(15);
        }
        console.log(16);
      // 输入框点缀事件 - 搜索示例
      document.getElementById('searchIcon').addEventListener('click', function() {
          let searchInput = document.getElementById('searchInput');
          let searchValue = searchInput.value;

          if (searchValue.trim() === '') {
            layui.layer.msg('请输入搜索内容');
            return;
          }
          // 模拟搜索跳转
          location.href = '?keywords=' + searchValue;
      });
    });
    layui.use(function(){
      let flow = layui.flow;
      // 流加载实例
      flow.load({
        elem: '#ID-flow-demo', // 流加载容器
        scrollElem: '#ID-flow-demo', // 滚动条所在元素，一般不用填，此处只是演示需要。
        done: function(page, next){ // 执行下一页的回调
          // 模拟数据插入
          setTimeout(function(){
            var lis = [];
            for(var i = 0; i < 8; i++){
              lis.push('<li>'+ ( (page-1)*8 + i + 1 ) +'</li>')
            }

            // 执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
            // pages 为 Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
            next(lis.join(''), page < 10); // 此处假设总页数为 10
          }, 520);
        }
      });
    });

</script>
</body>
</html>