
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>资源监控</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/layui.css' %}" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin" style="background-color: #9f9f9f">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-black layui-col-md3">硬件资源监控</div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <!-- 移动端显示 -->
      <li class="layui-nav-item layui-show-xs-inline-block " lay-header-event="menuLeft">
{#        <i class="layui-icon layui-icon-spread-left"></i>#}
      </li>
        <li class="layui-nav-item layui-hide-xs" style="display: inline-block;padding-right: 10px">
            <div class="layui-input-group">
                <label>
                    <input type="text" placeholder="搜索......" class="layui-input" lay-options="{split:true}" id="searchInput">
                </label>
                <div class=" layui-input-suffix" style="cursor: pointer;background-color: #23292e"><!--class="layui-input-split"-->
                    <i class="layui-icon layui-icon-search" style="font-size: 15px;color: #fafafa" lay-affix="search" id="searchIcon"></i>
              </div>
            </div>
        </li>
        <li class="layui-nav-item layui-hide-xs" style="display: inline-block;"><a href="/ServerChart">首页</a></li>
    </ul>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:">
          <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
          tester
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:">Your Profile</a></dd>
          <dd><a href="javascript:">Settings</a></dd>
          <dd><a href="javascript:">Sign out</a></dd>
        </dl>
      </li>
        <!--右侧菜单-->
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>

        </a>

      </li>
    </ul>
  </div>
  <div class="layui-side " style="background-color: #23292e">
    <div class="layui-side-scroll ">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">资源管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{% url 'ServerList' %}">主机管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:">click menu item</a></li>
        <li class="layui-nav-item"><a href="javascript:">the links</a></li>
      </ul>
    </div>
  </div>
  </div>
    <div class="layui-body layui-fluid layui-col-md10">
    <!-- 内容主体区域 -->
    <div style="background-color: #e2e2e2 ;padding-top: 70px ">
      <div class="layui-card layui-panel" style="background-color: #eeeeee">

        {% block Server_list %}{% endblock %}
        {% block ServerChart %}{% endblock %}

      </div>
      <br><br>
    </div>
  </div>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    底部固定区域
</div>

<script src="{% static "/js/layui.js" %}"></script>
<script>
    //JS
    layui.use(['element', 'layer', 'util', 'form'], function(){
      let element = layui.element;
      let layer = layui.layer;
      let util = layui.util;
      let $ = layui.$;
      let form = layui.form;
      let uniqueLicense_str = "{{ unique_license_list|safe}}"
      let uniqueLicense = uniqueLicense_str.slice(1, -1);  // 去除方括号
      let arr = uniqueLicense.split(", ");
      let checkboxContainer = document.getElementById("checkbox-container");
      for (let i = 0; i < arr.length; i++) {
          let license = arr[i];
          console.log(license);
          // 创建复选框元素
          let checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.name = "agreement";
          checkbox.value = license;
          checkbox.title = license;
          checkbox.setAttribute("lay-filter", "demo-checkbox-filter");

          // 创建标签元素
          let label = document.createElement("label");
          label.appendChild(checkbox);
          label.appendChild(document.createTextNode(license));

          // 将复选框和标签添加到容器中
          checkboxContainer.appendChild(label);
      }
      // 输入框点缀事件 - 搜索示例
      document.getElementById('searchIcon').addEventListener('click', function() {
          let searchInput = document.getElementById('searchInput');
          let searchValue = searchInput.value;

          if (searchValue.trim() === '') {
            layui.layer.msg('请输入搜索内容');
            return;
          }
          // 模拟搜索跳转
          location.href = '?keywords=' + searchValue;
      });
      //头部事件
      util.event('lay-header-event', {
        menuRight: function(){  // 右侧菜单事件
          layer.open({
            type: 1,
            title: '更多',
            content: '<div style="padding: 15px;">筛选<div class="layui-form">' +
                    '<div class="layui-form-item" id="checkbox-container">' +
                    '</div>' +
                    '<div class="layui-form-item">' +
                    '<button class="layui-btn" lay-submit lay-filter="demo-checkbox-submit">确认</button>' +
                    '</div>' +
                    '</div></div>',
            area: ['260px', '100%'],
            offset: 'rt', // 右上角
            anim: 'slideLeft', // 从右侧抽屉滑出
            shadeClose: true,
            scrollbar: false,
              success:function (){
                form.render();//渲染复选框
              }
          });
        }
      });
      // checkbox 事件
      form.on('checkbox(demo-checkbox-filter)', function(data){
        let elem = data.elem; // 获得 checkbox 原始 DOM 对象
        let checked = elem.checked; // 获得 checkbox 选中状态
        let value = elem.value; // 获得 checkbox 值
        let othis = data.othis; // 获得 checkbox 元素被替换后的 jQuery 对象
        layer.msg('checked 状态: '+ elem.checked);
      });
      // 通过表单提交事件，演示 checkbox 不同状态下的字段结果
      form.on('submit(demo-checkbox-submit)', function(data){
        let field = data.field; // 获取表单字段值
        // 显示填写结果，仅作演示用
        layer.alert(JSON.stringify(field), {
          title: '当前填写的字段值'
        });
        // 此处可执行 Ajax 等操作
        // …
        return false; // 阻止默认 form 跳转
      });
    });
    layui.use(function(){
      let flow = layui.flow;
      // 流加载实例
      flow.load({
        elem: '#ID-flow-demo', // 流加载容器
        scrollElem: '#ID-flow-demo', // 滚动条所在元素，一般不用填，此处只是演示需要。
        done: function(page, next){ // 执行下一页的回调
          // 模拟数据插入
          setTimeout(function(){
            var lis = [];
            for(var i = 0; i < 8; i++){
              lis.push('<li>'+ ( (page-1)*8 + i + 1 ) +'</li>')
            }

            // 执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
            // pages 为 Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
            next(lis.join(''), page < 10); // 此处假设总页数为 10
          }, 520);
        }
      });
    });

</script>
</body>
</html>