{% extends 'base.html' %}
{% load static %}
{% block ServerChart %}
<div class="layui-bg-grey" style="padding: 32px;">
  <div class="layui-row layui-col-space15" >
    {% for data_line in data_lines %}
    <div class="layui-col-md4">
      <div class="layui-card">
          <a >磁盘当前使用率</a>
          <div class="layui-progress llayui-col-md4 layui-card-header" lay-showpercent="true" style="width: auto;background-color: white">
              <div class="layui-progress-bar" lay-percent="{{disk_percent.pop}}%" style="bottom:0;width: 100%"></div>
          </div>
          <br>
        <div class="layui-card-body" >
            <div class="layui-row " >
                <div class="layui-container" id="layui-col-md4" style="width: 400px;height: 400px" >
                    {{ data_line |safe }}
                </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'js/layui.js' %}"></script>
<script>
    let progressBarList = document.querySelectorAll('.layui-progress-bar');
    progressBarList.forEach(function (progressBar){
        let diskPercent = parseInt(progressBar.getAttribute('lay-percent'), 10);
        if (diskPercent > 80){
            progressBar.classList.add('layui-bg-red');
        }else if(diskPercent>60){
            progressBar.classList.add('layui-bg-orange');
        }else{
            progressBar.classList.add('layui-bg-primary');
        }
    });

</script>
{% endblock %}
